<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">Fitmaniac</a>
    </div>
</div>

<input type="checkbox" title="Navigation menu" class="navbar-toggler" />

<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
    <nav class="nav flex-column">
        <AuthorizeView>
            <Authorized>
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                        <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Dashboard
                    </NavLink>
                </div>
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="workouts">
                        <span class="bi bi-activity" aria-hidden="true"></span> Workouts
                    </NavLink>
                </div>
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="program">
                        <span class="bi bi-calendar3" aria-hidden="true"></span> My Program
                    </NavLink>
                </div>
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="goals">
                        <span class="bi bi-trophy-fill" aria-hidden="true"></span> Goals
                    </NavLink>
                </div>
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="progress">
                        <span class="bi bi-bar-chart-fill" aria-hidden="true"></span> Progress
                    </NavLink>
                </div>
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="trainers">
                        <span class="bi bi-people-fill" aria-hidden="true"></span> Trainers
                    </NavLink>
                </div>
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="chat">
                        <span class="bi bi-chat-dots-fill" aria-hidden="true"></span> Chat
                    </NavLink>
                </div>
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="subscription">
                        <span class="bi bi-star-fill" aria-hidden="true"></span> Subscription
                    </NavLink>
                </div>
                <AuthorizeView Roles="Admin" Context="adminAuth">
                    <div class="nav-item px-3">
                        <NavLink class="nav-link" href="admin/users">
                            <span class="bi bi-shield-fill" aria-hidden="true"></span> Admin
                        </NavLink>
                    </div>
                </AuthorizeView>
                <div class="nav-item px-3">
                    <form method="post" action="/auth/signout">
                        <button type="submit" class="nav-link btn btn-link">
                            <span class="bi bi-box-arrow-left" aria-hidden="true"></span> Sign Out
                        </button>
                    </form>
                </div>
            </Authorized>
            <NotAuthorized>
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="login">
                        <span class="bi bi-box-arrow-in-right" aria-hidden="true"></span> Login
                    </NavLink>
                </div>
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="register">
                        <span class="bi bi-person-plus-fill" aria-hidden="true"></span> Register
                    </NavLink>
                </div>
            </NotAuthorized>
        </AuthorizeView>
    </nav>
</div>

